@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}

html,
body {
  background-color: #0a0a0c;
}

* {
  -webkit-tap-highlight-color: transparent;
}
